@charset "utf-8";

body 
	{
	max-width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	}

header 
	{
	height: 140px;
	padding: 20px;
	background-color: #F5E6B8;
	}

	h1
		{
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		text-align: center;
		float: right;
		padding-top: 20px;
		padding-right: 80px;
		}

	.logo
		{
		padding-top: 0px; 	
		}		

nav 
	{
	float: right;
	padding-right: 20px;	
	}

	nav ul li 
		{
		list-style-type: none;
		padding-left: 20px;
		margin: 2px;
		padding-right: 20px;
		text-align: right;
		}

	nav ul li a 
		{
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		text-decoration: none;
		font-weight:600;
		color: black;
		}

	nav ul li a:hover 
		{
		color:#D07C10;       
		}

section 
	{
	padding: 10px;
	min-height: 900px;
	background-color: #CECECE;
	}

footer 
	{
	padding: 5px;
	text-align: center;
	background-color: #F78229 ;
	}

h2
	{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: justify;
	}

p
	{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: justify;
	}

.verre img 
	{
	width: 100%;
	height: auto;
	display: block;
	}

.verre 
	{
	width: 31.3%;
	float: left;
	margin: 1%;
	}

.biere img 
	{
	width: 100%;
	height: auto;
	display: block;
	}

.biere 
	{
	width: 31.3%;
	float: left;
	margin: 1%;
	}

.citation
	{
	padding-left: 25px; 
	padding-bottom: 7px; 
	}

.video1 
	{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow:hidden;
	}

	.video1 iframe 
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}

lien
	{
	text-decoration-color: #000000; 
	color: #000000;
	font-weight: bold
	}

section a
	{
	text-decoration: none;	
	color: black;
	}	

.citation2
	{
	padding-left: 75px; 
	}